@import "vendor/bootstrap.min.css"

body
  margin-top 60px


.border-left
  border-left 1px solid #EEE
  margin-left 0 !important
  padding-left 19px


.relative
  position relative


.loader-overlay
  background black
  opacity 0.1
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  display none
  z-index 999
  -webkit-border-radius 10px 10px 0 0 
  -moz-border-radius 10px 10px 0 0 
  -o-border-radius 10px 10px 0 0 
  border-radius 10px 10px 0 0 


  .loader-image
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background-image url(../../img/loader.gif)
    background-repeat no-repeat
    background-position 50% 50%
    background-size 100px 100px
    opacity 1
